<% content_for :formatacao do %>
    <%= stylesheet_link_tag "/static/css/style-notas"%>
<% end %>


<center>
<div id="page" >
      <div id="bottom" class="clearfloat">    
      <div id="bottom-left"> <!--Bloco do topo/lado esquerdo -->
      <div id="front-list">
            <div class="clearfloat">
                  <h3 class="cat_title"><a href="#" title="Nossa equipe de profissionais" rel="category tag">Notícias</a> »</h3>
                  <span class="title"><a href="equipes" rel="bookmark">Nossa equipe de profissionais!</a></span>
                  <div class="meta">Ter, 24/01/12 – 10:06 | <a href="contatos" title="Comentário para nossa equipe !">Sem comentarios</a></div>   
        
                    <p><%=image_tag "equipe.jpg", :alt=>"nossa equipe!", :class=>"left", :width=>"150px", :height=>"150px" %></p>
    
                  <p>Nossa equipe de profissionais é preparada para realizar as tarefas gráficas do dia a dia, os profissionais responsáveis pelas artes gráficas, são criativos em trabalhos novos, que exigam um toque diferenciado. Um bom conhecimento da área de atuação, como também dedicação no que faz, são ingredientes para satisfação em entender bem as espectativas dos clientes, trazendo a todos um alto nível no serviços.
                  </p>
                  <p>
                    Atendimento sempre junto ao cliente.
                  </p>                                    
            </div>
      </div>

</div>

<div class="clearfloat">

  <div id="sidebar">
  
    <div class="spoiler clearfloat">  
          <div class="tanbox right">
            <span class="title"><a href="#k" title="">Notas Fiscais</a></span>
      
            <a href="#" alt="nf" class="left" width="265px" height="140px"></a>
        
              <p>A nota fiscal é um documento fiscal e que tem por fim o registro de uma transferência de propriedade sobre um bem ou uma atividade comercial prestada por uma empresa e uma pessoa física ou outra empresa. Nas situações em que a nota fiscal registra transferência de valor monetário entre as partes, a nota fiscal também destina-se ao recolhimento de impostos e a não utilização caracteriza sonegação fiscal. Entretanto, as notas fiscais podem também ser utilizadas em contextos mais amplos como na regularização de doações, transporte de bens, empréstimos de bens, ou prestação de serviços sem benefício financeiro à empresa emissora. Uma nota fiscal também pode cancelar a validade de outra nota fiscal, como por exemplo na devolução de produtos industrializados, outros cancelamentos ou cancelamento de contratos de serviços.</p>
      </div>
    </div>
  </div>
</div>
</center>


<!--
<table>
  <tr>
    <th>Setor</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipes.each do |equipe| %>
  <tr>
    <td><%= equipe.setor %></td>
    <td><%= equipe.descricao %></td>
    <td><%= link_to 'Show', equipe %></td>
    <td><%= link_to 'Edit', edit_equipe_path(equipe) %></td>
    <td><%= link_to 'Destroy', equipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipe', new_equipe_path %>
-->