<h1>Listing equipes</h1>

<table>
  <tr>
    <th>Setor</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipes.each do |equipe| %>
  <tr>
    <td><%= equipe.setor %></td>
    <td><%= equipe.descricao %></td>
    <td><%= link_to 'Show', equipe %></td>
    <td><%= link_to 'Edit', edit_equipe_path(equipe) %></td>
    <td><%= link_to 'Destroy', equipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipe', new_equipe_path %>
