<p id="notice"><%= notice %></p>

<p>
  <b>Setor:</b>
  <%= @equipe.setor %>
</p>

<p>
  <b>Descricao:</b>
  <%= @equipe.descricao %>
</p>


<%= link_to 'Edit', edit_equipe_path(@equipe) %> |
<%= link_to 'Back', equipes_path %>
