<%= form_for(@institucional) do |f| %>
  <% if @institucional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institucional.errors.count, "error") %> prohibited this institucional from being saved:</h2>

      <ul>
      <% @institucional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :servico %><br />
    <%= f.text_field :servico %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
