<% content_for :formatacao do %>
    <%= stylesheet_link_tag "/static/css/style-notas"%>
<% end %>



<center>
<div id="page" >
			
 			<div id="bottom" class="clearfloat">		
			<div id="bottom-left"> <!--Bloco do topo/lado esquerdo -->
			<div id="front-list">
						<div class="clearfloat">
									<h3 class="cat_title"><a href="#" title="Ver todos os posts em Notícias" rel="category tag">Notícias</a> »</h3>
									<span class="title"><a href="#" rel="bookmark">Sucesso em 2012 !</a></span>
									<div class="meta">Ter, 24/01/12 – 10:06 | <a href="#" title="Comentário para Sucesso em 2012 !">Sem comentarios</a></div>		
				
										<p><img src="/static/images/4l.jpg" alt="Sucesso em 2012 !" class="left" width="150px" height="150px"></p>
		
									<p>Bem vindo ao nosso site, este foi criado para melhorar o atendimento, trazendo a todos um canal de consulta de serviços.
									</p>
									<p>Queremos também, agradecer a todos pelas realizações do ano que se passou, continuamos como sempre, trabalhando muito para fazer de 2012 um ano de sucesso e realizações.</p>
									<p>
								E junto com nossos clientes, fornecedores e parceiros, dividimos toda a alegria das realizações de 2011 e contamos com todos para fazer nossa rede de relacionamento crescer e gerar frutos para todos.</p>
									
						</div>
			</div>

	 <!-- * limite * -->		

	<div id="paged-list">		
				<div class="clearfloat">	
							<div class="tanbox left">
	
										<span class="title"><a href="#" rel="bookmark" title="">Pioneira na impressão de formulário continuo no Piauí!</a></span>
													<div class="meta">sex, 26/01/12 – 14:00 | <a href="#" title="">Sem comentarios</a></div>
	
																<a href="#" rel="bookmark" title="#"><img src="/static/images/impressora-grafica-offset.png" alt="" class="left" width="265px" height="140px"></a>
						
																<p>Impressão off-set plana é o processo utilizado na gráfica convencional, contemplado para imprimir grandes quantidades a baixo custo.
																Viável a partir de 1.000 peças iguais.</p>
																<p>
																		Acabamentos especiais como faca especial e verniz em reserva ficam mais econômicos, pois os custos fixos são divididos em um número maior de peças.
																		Grandes tiragens editoriais também são mais econômicas em impressão off-set ou em máquinas rotativas.
						</p>
						
</div>
	
	<!-- fim primeiro mini-bloco -->
		
	<div class="tanbox right">
		<span class="title"><a href="#k" title="">Notas Fiscais</a></span>
		<div class="meta">ter, 18/01/11 – 9:22 | <a href="#" title="Comentário para Notas Fiscais!">Sem comentarios</a></div>
		
			<a href="#" alt="nf" class="left" width="265px" height="140px"></a>
	
				<p>A nota fiscal é um documento fiscal e que tem por fim o registro de uma transferência de propriedade sobre um bem ou uma atividade comercial prestada por uma empresa e uma pessoa física ou outra empresa. Nas situações em que a nota fiscal registra transferência de valor monetário entre as partes, a nota fiscal também destina-se ao recolhimento de impostos e a não utilização caracteriza sonegação fiscal. Entretanto, as notas fiscais podem também ser utilizadas em contextos mais amplos como na regularização de doações, transporte de bens, empréstimos de bens, ou prestação de serviços sem benefício financeiro à empresa emissora. Uma nota fiscal também pode cancelar a validade de outra nota fiscal, como por exemplo na devolução de produtos industrializados, outros cancelamentos ou cancelamento de contratos de serviços.</p>
			</div>
	
	</div>		
	
  <!-- CTRC  -->
	<div class="clearfloat">	
	<div class="tanbox left">
		<span class="title"><a href="#" title="link para CTRC CTRC.">CTRC.</a></span>
		<div class="meta">qui, 27/01/12 – 11:07 | <a href="#" title="Comentário para CTRC.">Sem comentarios</a></div>
	
			<a href="#" rel="bookmark" title="link para CTRC CTRC."><img src="/static/images/formulario-2.jpg" alt="CTRC." class="left" width="265px" height="140px"></a>
		
			<p>A sigla CTRC significa “Conhecimento de Transporte Rodoviário de Cargas”, ou seja, o CTRC é o documento onde se encontra toda a informação inerente ao transporte de uma mercadoria.</p>

			<p>As principais informações contidas neste documento são:</p>
			<p>- Dados do Remetente</p>
			<p>- Dados do Destinatário</p>
			<p>- Local de Entrega</p>
			<p>- Peso Total</p>
			<p>- Quantidade de Volumes</p>
			<p>- Notas Fiscais</p>
			<p>- Valor da Mercadoria</p>
			<p>- Valor do Transporte</p>
			<p>- Etc...</p>

			<p>O CTRC é emitido assim que a mercadoria chega ao Terminal de Cargas para ser enviada e é baixada quando é realizada a entrega ao destinatário.</p>

<p>O CTRC é também o comprovante de entrega.</p>
</div>
			
	<div class="tanbox right">
		<span class="title"><a href="#" rel="bookmark" title="carnet">Capas e miolos de carnet</a></span>
		<div class="meta">qui, 23/09/10 – 10:36 | <a href="#" title="Comentário para capa e miolho de carnet!">Sem comentarios</a></div>
	
			<a href="#" rel="bookmark" title="link para carnet"><img src="/static/images/O-que-e-nota-fiscal.jpg" alt="Nova plotter funcionando!" class="left" width="265px" height="140px"></a>
		
	<p>Fazemos miolho e carnet para todas as finalidades, podem ser de uma ou várias vias, com ou sem sistema de proteção anti-falsificação, carnet é aqui!</p>
			
			</div>
	
	</div>		
	
  <!-- Rótulos para embalagens -->
	<div class="clearfloat">	
	<div class="tanbox left">
		<span class="title"><a href="#" rel="bookmark" title="link para Rotúlos">Rótulos para embalagens</a></span>
		<div class="meta">sex, 27/01/12 – 14:09 | <a href="#" title="#">4 comentarios</a></div>
	
			<a href="#" rel="bookmark" title="link para Rotulo"><img src="/static/images/rotulo.png" alt="Rotulos" class="left" width="265px" height="140px"></a>
		
	<p>Rótulos para embalagens.<br>
A quantidade de produtos no mercado, com funçõese embalagens similares exige do designer e do fabricante estratégias mercadológicas para vencer a competição acirrada. Para atrair e conquistar o consumidor o produto deve atender uma demanda que envolve criatividade, beleza, funcionalidade, diferencial e, sobretudo preço acessível. O rótulo também faz parte dessas características, torna o produto diferente, principalmente na
gôndola, onde as embalagens são parecidas.O poder de comunicação atrativo do rótulo inﬂui na percepção humana e estimula os aspectos sensoriais.</p>			

	</div>
	<!-- Etiquetas -->	
	<div class="tanbox right">
		<span class="title"><a href="#" rel="bookmark" title="link para Etiquetas">Etiquetas</a></span>
		<div class="meta">sex, 27/01/12 – 14:41 | <a href="#" title="Comentário para Quadros">Sem comentarios</a></div>
	
			<a href="#" rel="bookmark" title="link para etiquetas"><img src="/static/images/Etiquetas.jpg" alt="Quadros" class="left" width="265px" height="140px"></a>
	
				<p>Um item usado para identificar algo ou alguém, como um pequeno pedaço de papel ou tecido ligado a um artigo para designar sua origem, proprietário, conteúdo, informações a seu respeito!</p>
			</div>
	
	</div>		
	
  <!--Encadernação -->    		
	<div class="clearfloat">	
	<div class="tanbox left">
		<span class="title"><a href="#" rel="bookmark" title="link para Encardernação">Encadernação e cópias em geral!</a></span>
		<div class="meta">ter, 20/10/09 – 11:46 | <a href="#" title="Comentário para Encadernação">comentarios </a></div>
		
			<a href="#" rel="bookmark" title="link para encadernação"><img src="/static/images/encadernacao.jpg" alt="encadernacao!" class="left" width="265px" height="140px"></a>

				<p>Encadernar é unir ordenadamente, por meio de costura sólida, os cadernos de uma obra, para formar um volume compacto, cobrindo-o com uma capa para proteção e embelezamento[1]. Outra definição fala do ato de juntar folhas de forma que seja mais fácil manuseá-las.</p>
			</div>
	      
	</div>			
	<div id="navigation">
			<div class="wp-pagenavi">
				<span class="pages">Page 1 de 1</span>
				<span class="current">1</span>
				<a href="#">1</a>
				<a href="#">1</a>
				<a href="#" class="page larger">1</a>
			</div>	
	</div>

	</div>		
	</div>
	
	
	<div id="sidebar">
	
	<div class="spoiler clearfloat">	
				<h3 class="catt-79"><a href="#">Cartões de Visita »</a></h3>
	
					<div class="clearfloat">
		  		<h4 class="title"><a href="#" rel="bookmark">Cartões.</a></h4>
		 					<a href="#/" rel="bookmark" title="link para cartões."><img src="/static/images/plastic-card.jpg" alt="CTRC." class="left" width="80px" height="90px"></a>
				
												<p>Imprimir na gráfica uma quantidade razoável de bons cartões de visita é surpreendentemente barato, e eles podem fazer toda a diferença entre você e os demais presentes em qualquer situação social ou de negócios que possa vir a gerar a necessidade de novo contato posterior.</p>
								</div>
				<div class="right"><a href="#">Outros artigos»</a></div>

						
					 </div>	
	
	<div class="spoiler clearfloat">
	
	<h3 class="catt-76"><a href="#">Convites Cerimoniais »</a></h3>
	
						<div class="clearfloat">
		  		<h4 class="title"><a href="#" rel="bookmark">Convites.</a></h4>
	
								<a href="#" rel="bookmark" title="link para convites."><img src="/static/images/conviteCasamento.jpg" alt="Iniciativa contra abuso sexual." class="left" width="80px" height="90px"></a>
				
												<p>Aqui você encontrará variados modelos de convites de casamento.Inove na sua festa com convites modernos e exclusivos..</p>
								</div>
								<br />
				<div class="right"><a href="#">Outros artigos»</a></div>
					
					 </div>	
	
	<div class="spoiler clearfloat">
	
	<h3 class="catt-77"><a href="#">Livretos »</a></h3>
	
						<div class="clearfloat">
		  		<h4 class="title"><a href="#" rel="bookmark">Livretos!</a></h4>
	
								<a href="#" rel="bookmark" title="link para livretos"><img src="/static/images/livretos.jpg" alt="Photobook ou Fotolivro, um ótimo presente!" class="left" width="80px" height="90px"></a>
				
												<p>Os livretos são documentos com várias páginas organizadas em folhas de papel que, quando dobradas, apresentam a ordem correta das páginas. É possível criar livretos de duas páginas com costura sobreposta, nos quais duas páginas, lado a lado, impressas em ambos os lados, são dobradas ao meio e presas pela dobra. A primeira página é impressa na mesma folha que a última página, a segunda, na mesma folha que a penúltima e assim por diante. Cada página é centralizada automaticamente na folha, sendo que as grandes são ajustadas (reduzidas) para caber na área de impressão. Ao agrupar, dobrar e grampear as páginas duplas, o resultado é um livro simples com a paginação correta.</p>
								</div>
				<div class="right"><a href="http://www.gpiaui.com.br/category/impressoes/">Outros artigos»</a></div>
					
					 </div>	
	
	<div class="spoiler clearfloat">
	
	<h3 class="catt-74"><a href="#">Papelaria e Cores »</a></h3>
	
						<div class="clearfloat">
		  		<h4 class="title"><a href="#" rel="bookmark">Cores em seus impressos</a></h4>
	
								<a href="#" rel="bookmark" title="link para papelaria e cores"><img src="/static/images/grafica-300x260.png" alt="papelaria" class="left" width="80px" height="90px"></a>
				
							<p>Qualidade em cores em seus impressos.</p>
								</div>
				<div class="right"><a href="http://www.gpiaui.com.br/category/papelaria/">Outros artigos»</a></div>
					
					 </div>	
	
	<div class="spoiler clearfloat">
	
	<h3 class="catt-10"><a href="#">Propaganda »</a></h3>
	
						<div class="clearfloat">
		  		<h4 class="title"><a href="#" rel="bookmark">Folheto rápido</a></h4>
		 		
								<a href="#" rel="bookmark" title="link para folhetos"><img src="/static/images/folhetos_2.jpg" alt="Folheto rápido" class="left" width="80px" height="90px"></a>
				
												<p>Venha conferir nossos preços e prazos!</p>
								</div>
				<div class="right"><a href="#">Outros artigos»</a></div>
					
					 </div>	
	
	<div class="spoiler clearfloat">
	
		<h3 class="catt-75"><a href="#">Sinalização »</a></h3>
	
		<div class="clearfloat">
		  		<h4 class="title"><a href="http://www.gpiaui.com.br/2010/03/quadro/" rel="bookmark">Quadros</a></h4>
	
					<a href="http://www.gpiaui.com.br/2010/03/quadro/" rel="bookmark" title="link para CTRC Quadros"><img src="/static/images/sinalizacao.gif" alt="Quadros" class="left" width="80px" height="90px"></a>
				
					<p>Seja na sinalização de sua empresa seja para presente ou para sua casa, os quadros tornaram-se um sucesso de venda na gpiaui gráfica digital.<br>
Para melhor informá-lo segue uma breve descrição dos principais modelos de quadros disponíveis. Leia mais.</p>

		</div>
		<div class="right"><a href="http://www.gpiaui.com.br/category/sinalizacao/">Outros artigos»</a></div>
					
	</div>	

<div id="sidebar-top"> </div>

<div id="sidebar-middle" class="clearfloat"> 
	<div id="sidebar-left">
		<h3>Garantia!</h3>
		<div class="textwidget">Gráfica Piauí, é situada no bairro do Matadouro, em Teresina/PI e aposta no diferencial da agilidade aliada a qualidade e preço justo.
		</div>	 
	</div>  

	<div id="sidebar-right">
	 		
	<h3>Links Extras</h3>
	<ul>
		<li><a href="http://www.sindindustria.com.br/main.jsp?lumPageId=4028E48620244DBC01206329693F0E15">Sindicato das Indústrias Gráficas de Teresinaa</a></li>
		<!--
		<li><a href="http://www.gpiaui.blogspot.com/">Blog gpiaui</a></li>
		<li><a href="http://www.ecologiagrafica.blogspot.com/">Setor Grafico e Ecologia</a></li> 
		-->
		<li><a href="http://wordpress.org">Wordpress.org</a></li>
	</ul>

	</div> 

</div>



<div id="sidebar-bottom"> 
<h3>Outros Serviços</h3>
<a href="http://www.gpiaui.com.br/tag/adesivo/" class="tag-link-53" title="1 post" style="font-size: 8pt;">Etiquetas Adesivas</a>
<a href="http://www.gpiaui.com.br/tag/banner/" class="tag-link-7" title="5 posts" style="font-size: 20.2181818182pt;">ContraCheques/Holerites</a>
<a href="http://www.gpiaui.com.br/tag/banners/" class="tag-link-25" title="1 post" style="font-size: 8pt;">Blocos com ou sem vias</a>
<a href="http://www.gpiaui.com.br/tag/capa-dura/" class="tag-link-71" title="2 posts" style="font-size: 12.5818181818pt;">capa dura</a>
<a href="http://www.gpiaui.com.br/tag/cartao-de-visita/" class="tag-link-5" title="5 posts" style="font-size: 20.2181818182pt;">Boletins</a>
<a href="http://www.gpiaui.com.br/tag/cartao-postal/" class="tag-link-56" title="1 post" style="font-size: 8pt;">cartão postal</a>
<a href="http://www.gpiaui.com.br/tag/cartoes-de-visita/" class="tag-link-31" title="2 posts" style="font-size: 12.5818181818pt;">Panfletos</a>
<a href="http://www.gpiaui.com.br/tag/congresso/" class="tag-link-54" title="1 post" style="font-size: 8pt;">Catalogos</a>
<a href="http://www.gpiaui.com.br/tag/copiadora/" class="tag-link-37" title="1 post" style="font-size: 8pt;">Capas de Processos</a>
<a href="http://www.gpiaui.com.br/tag/couche/" class="tag-link-16" title="1 post" style="font-size: 8pt;">couché</a>
<a href="http://www.gpiaui.com.br/tag/dados-variaveis/" class="tag-link-67" title="1 post" style="font-size: 8pt;">Livros e Revistas</a>
<a href="http://www.gpiaui.com.br/tag/didatico/" class="tag-link-65" title="2 posts" style="font-size: 12.5818181818pt;">Jornais</a>
<a href="http://www.gpiaui.com.br/tag/ecologico/" class="tag-link-66" title="1 post" style="font-size: 8pt;">Receituários</a>
<a href="http://www.gpiaui.com.br/tag/flyer/" class="tag-link-8" title="2 posts" style="font-size: 12.5818181818pt;">Propostas</a>
<a href="http://www.gpiaui.com.br/tag/flyers/" class="tag-link-22" title="1 post" style="font-size: 8pt;">Apostilas</a>
<a href="http://www.gpiaui.com.br/tag/folder/" class="tag-link-23" title="2 posts" style="font-size: 12.5818181818pt;">Folders</a>
<a href="http://www.gpiaui.com.br/tag/folheto/" class="tag-link-6" title="2 posts" style="font-size: 12.5818181818pt;">folhetos</a>
<a href="http://www.gpiaui.com.br/tag/folhetos/" class="tag-link-21" title="1 post" style="font-size: 8pt;">Cópias em Geral</a>
<a href="http://www.gpiaui.com.br/tag/grafica-rapida/" class="tag-link-36" title="3 posts" style="font-size: 15.6363636364pt;">gráfica Off-Set</a>
<a href="http://www.gpiaui.com.br/tag/impressora/" class="tag-link-35" title="3 posts" style="font-size: 15.6363636364pt;">Recibos</a>
<a href="http://www.gpiaui.com.br/tag/impressora-laser/" class="tag-link-98" title="2 posts" style="font-size: 12.5818181818pt;">Santinhos</a>
<a href="http://www.gpiaui.com.br/tag/impressao/" class="tag-link-100" title="2 posts" style="font-size: 12.5818181818pt;">Material tipografico</a>
<a href="http://www.gpiaui.com.br/tag/impressao-colorida/" class="tag-link-140" title="3 posts" style="font-size: 15.6363636364pt;">impressão colorida</a>
<a href="http://www.gpiaui.com.br/tag/impressao-digital/" class="tag-link-51" title="5 posts" style="font-size: 20.2181818182pt;">Pastas AZ</a>
<a href="http://www.gpiaui.com.br/tag/impressao-laser/" class="tag-link-99" title="3 posts" style="font-size: 15.6363636364pt;">Embalagens</a>
<a href="http://www.gpiaui.com.br/tag/laminado-fosco/" class="tag-link-17" title="1 post" style="font-size: 8pt;">Poligromia</a>
<a href="http://www.gpiaui.com.br/tag/laminacao-fosca/" class="tag-link-41" title="1 post" style="font-size: 8pt;">Contra-cheque em formulários</a>
<a href="http://www.gpiaui.com.br/tag/livro/" class="tag-link-39" title="1 post" style="font-size: 8pt;">livros</a>
<a href="http://www.gpiaui.com.br/tag/ludico/" class="tag-link-46" title="2 posts" style="font-size: 12.5818181818pt;">lúdico</a>
<a href="http://www.gpiaui.com.br/tag/mala-direta/" class="tag-link-69" title="1 post" style="font-size: 8pt;">mala direta</a>
<a href="http://www.gpiaui.com.br/tag/monografia/" class="tag-link-64" title="2 posts" style="font-size: 12.5818181818pt;">monografia</a>
<a href="http://www.gpiaui.com.br/tag/painel/" class="tag-link-55" title="3 posts" style="font-size: 15.6363636364pt;">painel</a>
<a href="http://www.gpiaui.com.br/tag/panfleto/" class="tag-link-24" title="2 posts" style="font-size: 12.5818181818pt;">panfleto</a>
<a href="http://www.gpiaui.com.br/tag/personalizado/" class="tag-link-68" title="1 post" style="font-size: 8pt;">personalizado</a>
<a href="http://www.gpiaui.com.br/tag/plotter/" class="tag-link-52" title="2 posts" style="font-size: 12.5818181818pt;">plotter</a>
<a href="http://www.gpiaui.com.br/tag/poster/" class="tag-link-26" title="6 posts" style="font-size: 22pt;">poster</a>
<a href="http://www.gpiaui.com.br/tag/posters/" class="tag-link-27" title="1 post" style="font-size: 8pt;">posters</a>
<a href="http://www.gpiaui.com.br/tag/quadro/" class="tag-link-43" title="2 posts" style="font-size: 12.5818181818pt;">quadro</a>
<a href="http://www.gpiaui.com.br/tag/quebra-cabeca/" class="tag-link-48" title="1 post" style="font-size: 8pt;">quebra-cabeça</a>
<a href="http://www.gpiaui.com.br/tag/reciclado/" class="tag-link-33" title="1 post" style="font-size: 8pt;">reciclado</a>
<a href="http://www.gpiaui.com.br/tag/reciclato/" class="tag-link-34" title="1 post" style="font-size: 8pt;">reciclato</a>
<a href="http://www.gpiaui.com.br/tag/tabuleiro/" class="tag-link-42" title="1 post" style="font-size: 8pt;">tabuleiro</a>
<a href="http://www.gpiaui.com.br/tag/tcc/" class="tag-link-63" title="2 posts" style="font-size: 12.5818181818pt;">tcc</a>
<a href="http://www.gpiaui.com.br/tag/verniz-em-reserva/" class="tag-link-19" title="1 post" style="font-size: 8pt;">verniz em reserva</a>
<a href="http://www.gpiaui.com.br/tag/verniz-localizado/" class="tag-link-18" title="1 post" style="font-size: 8pt;">verniz localizado</a>		
 </div>   


</div>
	</div>	

</div>

</center>

<!--
<h1>Listing institucionals</h1>

<table>
  <tr>
    <th>Servico</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institucionals.each do |institucional| %>
  <tr>
    <td><%= institucional.servico %></td>
    <td><%= institucional.descricao %></td>
    <td><%= link_to 'Show', institucional %></td>
    <td><%= link_to 'Edit', edit_institucional_path(institucional) %></td>
    <td><%= link_to 'Destroy', institucional, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Institucional', new_institucional_path %>

-->
