<p id="notice"><%= notice %></p>

<p>
  <b>Servico:</b>
  <%= @institucional.servico %>
</p>

<p>
  <b>Descricao:</b>
  <%= @institucional.descricao %>
</p>


<%= link_to 'Edit', edit_institucional_path(@institucional) %> |
<%= link_to 'Back', institucionals_path %>
