<%= form_for(@orcamento) do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% @orcamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :razao %><br />
    <%= f.text_field :razao %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :insc_social %><br />
    <%= f.text_field :insc_social %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :uf %><br />
    <%= f.text_field :uf %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :quatidade %><br />
    <%= f.number_field :quatidade %>
  </div>
  <div class="field">
    <%= f.label :nome_produto %><br />
    <%= f.text_field :nome_produto %>
  </div>
  <div class="field">
    <%= f.label :numero_de_paginas_ou_vias %><br />
    <%= f.number_field :numero_de_paginas_ou_vias %>
  </div>
  <div class="field">
    <%= f.label :tamanho_em_centrimetros %><br />
    <%= f.text_field :tamanho_em_centrimetros %>
  </div>
  <div class="field">
    <%= f.label :cromia_ou_cores %><br />
    <%= f.text_field :cromia_ou_cores %>
  </div>
  <div class="field">
    <%= f.label :papel_ou_substrato %><br />
    <%= f.text_field :papel_ou_substrato %>
  </div>
  <div class="field">
    <%= f.label :gramatura %><br />
    <%= f.text_field :gramatura %>
  </div>
  <div class="field">
    <%= f.label :acabamento %><br />
    <%= f.text_field :acabamento %>
  </div>
  <div class="field">
    <%= f.label :outros_acabamentos %><br />
    <%= f.text_field :outros_acabamentos %>
  </div>
  <div class="field">
    <%= f.label :prazo_necessario %><br />
    <%= f.text_field :prazo_necessario %>
  </div>
  <div class="field">
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
