<h1>Listing orcamentos</h1>

<table>
  <tr>
    <th>Razao</th>
    <th>Cpf</th>
    <th>Insc social</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Endereco</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Uf</th>
    <th>Website</th>
    <th>Quatidade</th>
    <th>Nome produto</th>
    <th>Numero de paginas ou vias</th>
    <th>Tamanho em centrimetros</th>
    <th>Cromia ou cores</th>
    <th>Papel ou substrato</th>
    <th>Gramatura</th>
    <th>Acabamento</th>
    <th>Outros acabamentos</th>
    <th>Prazo necessario</th>
    <th>Obs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orcamentos.each do |orcamento| %>
  <tr>
    <td><%= orcamento.razao %></td>
    <td><%= orcamento.cpf %></td>
    <td><%= orcamento.insc_social %></td>
    <td><%= orcamento.telefone %></td>
    <td><%= orcamento.email %></td>
    <td><%= orcamento.endereco %></td>
    <td><%= orcamento.bairro %></td>
    <td><%= orcamento.cidade %></td>
    <td><%= orcamento.uf %></td>
    <td><%= orcamento.website %></td>
    <td><%= orcamento.quatidade %></td>
    <td><%= orcamento.nome_produto %></td>
    <td><%= orcamento.numero_de_paginas_ou_vias %></td>
    <td><%= orcamento.tamanho_em_centrimetros %></td>
    <td><%= orcamento.cromia_ou_cores %></td>
    <td><%= orcamento.papel_ou_substrato %></td>
    <td><%= orcamento.gramatura %></td>
    <td><%= orcamento.acabamento %></td>
    <td><%= orcamento.outros_acabamentos %></td>
    <td><%= orcamento.prazo_necessario %></td>
    <td><%= orcamento.obs %></td>
    <td><%= link_to 'Show', orcamento %></td>
    <td><%= link_to 'Edit', edit_orcamento_path(orcamento) %></td>
    <td><%= link_to 'Destroy', orcamento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orcamento', new_orcamento_path %>
