<p id="notice"><%= notice %></p>

<p>
  <b>Razao:</b>
  <%= @orcamento.razao %>
</p>

<p>
  <b>Cpf:</b>
  <%= @orcamento.cpf %>
</p>

<p>
  <b>Insc social:</b>
  <%= @orcamento.insc_social %>
</p>

<p>
  <b>Telefone:</b>
  <%= @orcamento.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @orcamento.email %>
</p>

<p>
  <b>Endereco:</b>
  <%= @orcamento.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @orcamento.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @orcamento.cidade %>
</p>

<p>
  <b>Uf:</b>
  <%= @orcamento.uf %>
</p>

<p>
  <b>Website:</b>
  <%= @orcamento.website %>
</p>

<p>
  <b>Quatidade:</b>
  <%= @orcamento.quatidade %>
</p>

<p>
  <b>Nome produto:</b>
  <%= @orcamento.nome_produto %>
</p>

<p>
  <b>Numero de paginas ou vias:</b>
  <%= @orcamento.numero_de_paginas_ou_vias %>
</p>

<p>
  <b>Tamanho em centrimetros:</b>
  <%= @orcamento.tamanho_em_centrimetros %>
</p>

<p>
  <b>Cromia ou cores:</b>
  <%= @orcamento.cromia_ou_cores %>
</p>

<p>
  <b>Papel ou substrato:</b>
  <%= @orcamento.papel_ou_substrato %>
</p>

<p>
  <b>Gramatura:</b>
  <%= @orcamento.gramatura %>
</p>

<p>
  <b>Acabamento:</b>
  <%= @orcamento.acabamento %>
</p>

<p>
  <b>Outros acabamentos:</b>
  <%= @orcamento.outros_acabamentos %>
</p>

<p>
  <b>Prazo necessario:</b>
  <%= @orcamento.prazo_necessario %>
</p>

<p>
  <b>Obs:</b>
  <%= @orcamento.obs %>
</p>


<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
