<center><h2><Desejamos saber a sua necessidade!</h2>
<h1>Envie-nos sua mensagem através do formulário abaixo</h1></center>

<br />

<div id='contato'>
    <%=form_for @message, :url => contact_path do |form| %>

      <div class=".simple_form">
        <%= form.label "Nome:" %>
        <%= form.text_field :name %>  <br />
        <br />
        <%= form.label :email %>
        <%= form.text_field :email %> <br />
        <br />
        <%= form.label "Assunto:" %>
        <%= form.text_field :subject %> <br />

        <%= form.label 'Mensagem:'%> <br />
        <%= form.text_area :body, :size => "60x10" %> <br />
      </div>

      <br /><br /><br />
      <%= form.submit "Send" %>
      <br /><br /><br /><br />

    <% end %>
</div>

<div id='mapadagrafica'>
  <iframe width="825" height="350" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-5.064484,-42.829489&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-5.064476,-42.829497&amp;spn=0.001429,0.002468&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=-5.064484,-42.829489&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-5.064476,-42.829497&amp;spn=0.001429,0.002468&amp;z=14&amp;iwloc=near&amp;source=embed" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small> 
</div>