<center><h2>Desejamos saber sua necessidade!</h2></center>

<br /><br />
<center>
<%= form_for @message, :url => contact_path do |form| %>

  <fieldset class="fields">
    <div class="field">
      <%= form.label "Nome:" %>
      <%= form.text_field :name %> <br />
    </div>
    <br />

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %> <br />
    </div>

    <br /><br />

    <div class="field">
      <%= form.label "Assunto:" %>
      <%= form.text_field :subject %> <br />
    </div>
    
    <br /><br />

    <div class="field">
      <%= form.label 'Mensagem:'%> <br />
      <%= form.text_area :body %> <br />
    </div>

  </fieldset>

  <br /><br /><br />

  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>

  <br /><br /><br /><br />

<% end %>
</center>