<center><h2><Desejamos saber a sua necessidade!</h2>
<h3>Envie-nos sua mensagem através do formulário abaixo</h3></center>

<br />

<div id='contato'>
    <%=form_for @message, :url => contact_path do |form| %>

      <div class=".simple_form">
        <%= form.label "Nome:" %>
        <%= form.text_field :name%>  <br />
        <br />
        <%= form.label :email %>
        <%= form.text_field :email %> <br />
        <br />
        <%= form.label "Assunto:" %>
        <%= form.text_field :subject %> <br />

        <%= form.label 'Mensagem:'%> <br />
        <%= form.text_area :body, :size => "60x10" %> <br />
      </div>

      <br /><br /><br />   <%= form.submit "Send" %>   <br /><br /><br /><br />
    <% end %>
</div>

<div id='mapadagrafica'>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Uni%C3%A3o,+2243,+Memorare,+Teresina+-+Piau%C3%AD&amp;aq=0&amp;oq=AV.+UNI%C3%83O+2243+teresina,+piaui&amp;sll=-5.052081,-42.822308&amp;sspn=0.006348,0.010042&amp;ie=UTF8&amp;hq=&amp;hnear=Avenida+Uni%C3%A3o,+2243+-+Memorare,+Piau%C3%AD,+64009-500&amp;ll=-5.052081,-42.822308&amp;spn=0.006348,0.010042&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=-5.052102,-42.822122&amp;panoid=O5wyksbmZxQtc_dOiDzogQ&amp;cbp=12,270.17,,0,0.73&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Uni%C3%A3o,+2243,+Memorare,+Teresina+-+Piau%C3%AD&amp;aq=0&amp;oq=AV.+UNI%C3%83O+2243+teresina,+piaui&amp;sll=-5.052081,-42.822308&amp;sspn=0.006348,0.010042&amp;ie=UTF8&amp;hq=&amp;hnear=Avenida+Uni%C3%A3o,+2243+-+Memorare,+Piau%C3%AD,+64009-500&amp;ll=-5.052081,-42.822308&amp;spn=0.006348,0.010042&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=-5.052102,-42.822122&amp;panoid=O5wyksbmZxQtc_dOiDzogQ&amp;cbp=12,270.17,,0,0.73" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>

</div>