<center><h2><Desejamos saber a sua necessidade!</h2>
<h2>Envie-nos sua mensagem através do formulário abaixo</h2></center>

<br /><br />

<div>
<%= form_for @message, :url => contact_path do |form| %>

 
    <div class=".simple_form">
      <%= form.label "Nome:" %>
      <%= form.text_field :name %>  <br />
    </div>

    <br />

    <div class=".simple_form">
      <%= form.label :email %>
      <%= form.text_field :email %> <br />
    </div>

    <br />

    <div class=".simple_form">
      <%= form.label "Assunto:" %>
      <%= form.text_field :subject %> <br />
    </div>
    
  

    <div class=".simple_form">
      <%= form.label 'Mensagem:'%> <br />
      <%= form.text_area :body, :size => "60x10" %> <br />
    </div>

  <br /><br /><br />

  <center><%= form.submit "Send" %><center>

  <br /><br /><br /><br />

<% end %>
</div>